@tailwind base;
@tailwind components;
@tailwind utilities;


div#DateRangePickerChildren {
  display: flex;
}
div#daterangepicker {
  right: 0!important;
  left: auto;
}
.realTimeView{
  width: 1000px;
}
.toggle-password-button{
  position: absolute;
  left: 63%;
  top: 64%;
  cursor: pointer;
}
/* -------container size------------- */
.container-sk {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container-sk {
      width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container-sk {
      width: 960px;
    }
    
  }
  @media (min-width: 1200px) {
    .container-sk {
      width: 1140px;
    }
  }


  @media (min-width: 1400px) {
    .container-sk {
      width: 1320px;
    }
  }
/* -------------------------------------------------------------- */

/* --------ScrollBar ----------- */


/* scrollbar */

body{
  scroll-behavior: smooth !important;
}


body::-webkit-scrollbar-track {
  width: 3px;
  background-color: #FCF9F1 !important;
  cursor: pointer!important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color:#cacaca !important;
  border-radius: 12px;
  cursor: pointer!important;
}



::-webkit-scrollbar-thumb {
  width: 12px;
  background-color:#cacaca !important;
  border-radius: 12px;
  cursor: pointer!important;
}
/* ------------------------------------------------------------- */

.ReactModal__Overlay{
  background-color: rgba(0, 0, 0, 0.658) !important;
}


#nprogress .bar {
  background: #ff0101 !important;
  z-index: 5000 !important;

}