/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('./font.css');

body {
  font-family: 'OpenSansExtraBold', sans-serif;
  scroll-behavior: smooth !important;

}
button {
  font-family: 'OpenSansMedium', sans-serif;
}
input {
  font-family: 'OpenSansRegular', sans-serif;

}
/* Add custom transition properties */
@layer utilities {
  .transition {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
  }
}
.mt-6rem{
  margin-top: 50px;
  height: 200px;
}
.mt-7rem{
  margin-top: 53px;
  height: 210px;
}
.mt-9rem{
  margin-top: 50px;
  height: 186px;
}
/* .mt-3rem{
  margin-top: 3rem;
} */
.disabled {
  opacity: 0.5; 
  /* Reduce opacity to visually indicate the button is disabled */
  pointer-events: none; /* Disable mouse events to prevent interactions */
}
.lane-1{
  float: left;
}
div#DateRangePickerChildren {
  display: flex;
  cursor: pointer;
}

.red-button{
  /* background: linear-gradient(to left, #7700004f, #7700004f); */
  border: 1px solid red;
  box-shadow: -3px 2px 6px 0px rgb(101 141 109 / 50%);
}
.green-button{
  border: 1px solid green;
  /* background: linear-gradient(to left, #8cfa254f, #8cfa254f); */
  box-shadow: -3px 2px 6px 0px rgb(101 141 109 / 50%);
}
.yellow-button{
  border: 1px solid yellow;

  /* background: linear-gradient(to left, #7770004f, #7770004f); */
  box-shadow: -3px 2px 6px 0px rgb(101 141 109 / 50%);
}

.blue-button{
  border: 1px solid indigo;

  /* background: linear-gradient(to left, #7770004f, #7770004f); */
  box-shadow: -3px 2px 6px 0px rgba(3, 5, 114, 0.5);
}
/* @keyframes buttonAnimation {
  0% {
    transform: perspective(500px) rotateX(-5deg) rotateY(0) translateZ(0);
  }
  50% {
    transform: perspective(500px) rotateX(-5deg) rotateY(-30deg) translateZ(10px);
  }
  100% {
    transform: perspective(500px) rotateX(-5deg) rotateY(5deg) translateZ(0);
  }
}

.button-3d {
  cursor: pointer;
  /* transition: transform 0.3s ease; */
  /* animation: buttonAnimation 2s infinite; */
  /* transform-style: preserve-3d; Ensure 3D transformations are preserved */
  /* transition: transform 0.3s ease;
  transform: rotateX(-30deg) rotateY(10deg) scale(1.1);
} */



/* .button-3d:hover {
  transform: rotateX(30deg) rotateY(10deg) scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
/* }   */

div#daterangepicker {
  right: 0!important;
  left: auto;
}
.realTimeView{
  width: 1000px;
}
.toggle-password-button{
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.sign-in-toggle-password-button{
  position: absolute;
  top: 60%;
  cursor: pointer;
}
/* -------container size------------- */
.container-sk {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width:787) {
    .realTimeView{
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    
    .container-sk {
      width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container-sk {
      width: 960px;
    }
    
  }
  @media (min-width: 1200px) {
    .container-sk {
      width: 1140px;
    }
  }


  @media (min-width: 1400px) {
    .container-sk {
      width: 1320px;
    }
  }
/* -------------------------------------------------------------- */

/* --------ScrollBar ----------- */


/* scrollbar */

/* body::-webkit-scrollbar-track {
  width: 3px;
  background-color: #FCF9F1 !important;
  cursor: pointer!important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color:#cacaca !important;
  border-radius: 12px;
  cursor: pointer!important;
} */



::-webkit-scrollbar-thumb {
  width: 12px;
  background-color:#cacaca !important;
  border-radius: 12px;
  cursor: pointer!important;
}
/* ------------------------------------------------------------- */

.ReactModal__Overlay{
  background-color: rgba(0, 0, 0, 0.658) !important;
}


#nprogress .bar {
  background: #ff0101 !important;
  z-index: 5000 !important;

}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.no-data-message {
  text-align: center;
  animation: bounce 1s infinite;
}

/* .duration-300 {
  transition-duration: 300ms;
  transition-property: transform, opacity;
} */

.sidebar {
  transition: width 0.9s linear, width 0.9s ease-out;
}


@keyframes fadeInTranslate {
  to {
    opacity: 1;
    transform: translateX(50);
  }
}

.sidebar-entry {
  opacity: 0;
  animation: fadeInTranslate 0.9s forwards;
}

.fa-beat-fade {
  animation: beatFade 1s infinite;
}

/* .shadow-blue { */
  /* box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.2); */
   /* Adjust the shadow values and color as needed */
/* } */

.animate-gradient {
  background: #2a2e67;
  box-shadow: -1px 0px 7px 0px #2a2e67;
}

/* Apply styles when button is hovered */
.button-hover:hover button:not(.exclude-blur) {
  filter: blur(5px); /* Apply blur to the button */
  transition: filter 0.3s; /* Add transition for the blur effect */
}

/* Update the CSS for the .icons-container */
.icons-container {
  position: absolute;
  top: 10px;
  right: 3px;
  display: flex;
  opacity: 0; /* Initially hide the icons */
  transform: scale(0.8); /* Start with a smaller scale */
  transition: opacity 0.3s, transform 0.3s; /* Add transition for opacity and transform */
}

.icons-container.real-time{
  position: absolute;
  top: 10px;
  right: 40px;
  display: flex;
  opacity: 0; /* Initially hide the icons */
  transform: scale(0.8); /* Start with a smaller scale */
  transition: opacity 0.3s, transform 0.3s; /* Add transition for opacity and transform */
}
/* Apply styles when button is hovered */
.relative:hover .icons-container {
  opacity: 1;
  transform: scale(1); /* Scale up the icons on hover */
  z-index: 1;
}

/* Apply styles to the individual icons */
.icons-container svg {
  font-size: 1.5rem; /* Increase the icon size */
  margin-right: 8px; /* Add spacing between icons */
  transition: transform 0.3s; /* Add transition for transform */
}

/* Apply styles when icon is hovered */
.icons-container svg:hover {
  transform: scale(1.2); /* Increase the icon size on hover */
}

.loading {
  position: relative;
}

.loading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3; /* Set the background color to match your design */
  border-radius: 8px; /* Adjust the border-radius to match your design */
  animation: loadingAnimation 1s infinite ease-in-out; /* You can adjust the animation timing and type */
}

@keyframes loadingAnimation {
  0%, 100% {
    opacity: 0.6; /* Set the opacity as needed */
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(100%);
  }
}

/* Add this CSS to your stylesheet */
.page-container {
  display: flex;
  flex-direction: column;
  height: 90vh; /* Set the container height to fill the viewport */
}

.table-container {
  flex: 1; /* Make the table container grow to fill the available space */
  overflow: auto; /* Enable scrolling if content overflows */
}

.pagination-container {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.loader-border-pulse {
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0.5;
  animation: pulseAnimation 1.5s infinite ease-in-out;
}

.loader-border-pulse.top {
  top: -2px; /* Adjust this value based on your layout */
  border-top: 5px solid #0e0e0f; /* Color of the loader line */
}

/* .loader-border-pulse.right {
  right: -2px; 
  border-right: 2px solid #434190; 
} */

.loader-border-pulse.bottom {
  bottom: -2px; /* Adjust this value based on your layout */
  border-bottom: 5px solid #0f0f15; /* Color of the loader line */
}

/* .loader-border-pulse.left {
  left: -2px; 
  border-left: 2px solid #434190; 
} */

@keyframes pulseAnimation {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.loader-animated-container {
  position: relative;
  width: 50px;
  height: 50px;
}

.loader-animated-progress {
  position: absolute;
  top: 9px;
  width: 50%;
  height: 50%;
  border: 2px solid transparent;
  border-top-color: #434190;
  border-radius: 50%;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top-header {
  transition: transform 0.3s ease, opacity 0.3s ease; 
  /* Add smooth transitions for transform and opacity */
  transform-origin: top;
  z-index: 9999!important;
}
/* In your CSS file or a separate CSS module */
.mobile-hamburger-icon i {
  transition: transform 0.3s ease; /* Add a smooth transform transition */
}

/* Rotate the icon 180 degrees when the menu is open */
.mobile-hamburger-icon i.rotate-180 {
  transform: rotate(180deg);
}








/* In your CSS file or a separate CSS module */
@media (min-width: 770px) {
  .mobile-hamburger-icon {
    display: none;
  }
  
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media screen and (max-width: 768px) {
  /* Show the mobile menu icon and hide the header elements */
  #menu-toggle {
    display: block;
  }
  .mobile-menu {
    display: block; 
    position: absolute;
    top: 20%;
    right: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;/* Show the menu when "open" class is present */
  }
  .mobile-header {
    position: fixed;
    height: auto; /* Initial height of the header */
    transition: height 0.3s ease;
    overflow: hidden;
  }
  #header-elements {
    display: none;
  }
  /* Show the mobile menu when the menu icon is clicked */
  #menu-toggle.active + #mobile-menu {
    display: block;
  }
}


/* #chartdiv {
  width: 100%;
  height: 500px;
} */

@media (max-width: 1708px) {
  .view-section {
    width: max-content;
  }
}

/* For screens with a width equal to or greater than 1024px */
@media (min-width: 1707px) {
  .view-section {
    width: auto;
  }
}

.high-charts{
  box-shadow: 2px -1px 5px 0px #cacacd;
  height: 24rem;
}

.flex-auto {
  flex: 1; /* Allow the content to take up remaining space */
  overflow: hidden; /* Hide horizontal overflow */
}

.overflow-x-auto {
  overflow-x: auto; /* Enable horizontal scrolling if content exceeds width */
}
.right-card{
  height: auto;
  width: 25%;
}

.left-card{
  height: 70vh;
  overflow-y: scroll;
  overflow-x: auto;
}

.lists{
  background: #edededcc;
  box-shadow: 0px 2px 1px 0px #1a1a1b;
  padding: 5px;
}
.big-text{
  font-size: 65px;
  line-height: 1;
}
/* Default font sizes for laptops and smaller screens */
.text-cs {
  font-size: 24px;
  line-height: 1;
  color: #0e0e0f;
}

.align-center-element {
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}
.flex-boxShadow{
  box-shadow: -1px 0px 7px 0px #cacacd;
}

.planogramBox{
  box-shadow: 2px -1px 5px 0px #cacacd;
}
/* Larger font sizes for desktop screens */
@media (min-width: 2560px) {
  .text-cs {
    font-size: 65px;
    color: #0e0e0f;
  }

  .align-center-element {
    font-size: medium;
  }
  .lists{
    background: #edededcc;
    box-shadow: 0px 2px 1px 0px #1a1a1b;
    padding: 15px;
  }
}
@media (min-width: 1920px) {
  .lists{
    background: #edededcc;
    box-shadow: 0px 2px 1px 0px #1a1a1b;
    padding: 10px;
  }
  .text-cs {
    font-size: 45px;
    color: #0e0e0f;
  }

  .align-center-element {
    font-size: medium;
  }
}
/* scrollbar-styles.css */

/* WebKit (Chrome, Safari) */
.left-card::-webkit-scrollbar {
  width: 12px;
}

.left-card::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.left-card::-webkit-scrollbar-thumb {
  background: #888;
}

.left-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
